
.mainpic {
  background-image: url(picturemountains.jpg);
  background-repeat: no-repeat;
  width: 65%;
  height: 354px;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  background-image: url(logo.png);
  background-repeat: no-repeat;
  width: 68%;
  height: 69px;
  margin-left: auto;
  margin-right: auto;
}

.menu li {
      display: inline;
}

.menu a {                  
  float: left;
  width: 140px;
  height: 40px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  padding-top: 18px;
  font-size: 15px;
}

.menu a:hover, a:active {
  background-color: gray;}

h1, h2 {color: blanchedalmond;}

.off {
    color: #3a6028;
}

.mainpic h1 {
    position: absolute;
    text-align: right;
    font-size: 30px;
    color: #fff;
    left: 25%;
    top: 20px;
}

.mainpic h2 {
    position: absolute;
    text-align: right;
    font-size: 20px;
    color: #fff;
    left: 25%;
    top: 50px;
}

body {font-family: Arial, Helvetica, sans-serif;}

* {box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 900px;
  height: 520px;
  margin-left: 17%;
  
}
h3 { text-align: center; }