.mainpic {
    background-image: url(picturemountains.jpg);
    background-repeat: no-repeat;
    width: 900px;
    height: 354px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    background-image: url(logo.png);
    background-repeat: no-repeat;
    width: 940px;
    height: 69px;
    margin-left: auto;
    margin-right: auto;
}

.menu li {
        display: inline;
}

.menu a {                  
    float: left;
    width: 150px;
    height: 40px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    padding-top: 18px;
    font-size: 15px;
}

.menu a:hover, a:active {
    background-color: gray;}

h1, h2 {color: blanchedalmond;}

.off {
    color: #3a6028;
}

.mainpic h1 {
    position: absolute;
    text-align: right;
    font-size: 30px;
    color: #fff;
    left: 250px;
    top: 20px;
}

.mainpic h2 {
    position: absolute;
    text-align: right;
    font-size: 20px;
    color: #fff;
    left: 250px;
    top: 50px;
}

h3 {font-family: arial;
   text-align: center;
   font-style: italic;
   font-size: large;}

p  {font-family: italic;
    margin-left: 250px;
    margin-right: 250px;}